
/* =============================================================================
   Primary styles
   Author: 
   ========================================================================== */
/*body {
  background: #ebebeb;
}

#container {
  width: 960px;
  margin: auto;
  min-height: 500px;
  background: #fff;
}
#menu {
  background: #444;
  height: 30px; color: #fff; text-align: right;
}
#menu ul {
  list-style: none;
  margin: 0; padding: 0;
}
#menu ul li {
  float: left;
  margin-left: 10px;
}
#menu ul li a {
  color: #fff;
  line-height: 30px;
  text-decoration: none;
}
#menu ul li a:hover {
  color: #ccc;
}
#container {

}
#logo {
   padding: 20px;
}
h1{
  padding: 0;
  margin: 0;
}
#page {
  border-top: 1px solid #ebebeb;
  border-bottom: 1px solid #ebebeb;
  min-height: 400px;
  padding: 20px;
  overflow: hidden;
}

#page  {
  width: 960px;
}

 #page .main {
    display: block;
    position:relative;
    top: 0px;
    left: 0px;
    padding: 0px;
    margin: 0px;
    width: 500px;
    float: left;
    overflow: hidden;
  }

 #page .sidebar {
    display: block;
    position:relative;
    top: 0px;
    left: 0px;
    padding: 10px;
    margin: 0px;
    width: 400px;
    height: 300px;
    background-color:#FFF;
    float: left;
  }

  #page .sidebar .ad {
    clear:both;
  }

  #page .sidebar .ad .pic {
    display: block;
    position: relative;
    margin: 0px;
    padding: 0px;
    float: left;
    top: 0px;
    left: 0px;
    width: 150px;
  }  

  #page .sidebar .ad .info {
    display: block;
    position: relative;
    margin: 0px;
    padding: 0px;
    float: left;
    top: 0px;
    left: 0px;
    width: 250px;
  }  

  #page .sidebar .ad .info h4 {
    font-size: 16px;
    color:#666;
  }

  #page .sidebar .ad .info p {
    font-size: 10px;
    color:#999;
  }

#page .contributors-stats ul {
  list-style: none;
}

#page .contributors-stats ul li {
  display:block;
  position: relative;
  height: 20px;
}

#page .contributors-stats ul li p {
  font-size: 20px;
  color:#999;
  font-weight: bold; 
  margin: 0px;
  padding: 0px;
}

#page #contributors-list {

}

#page #contributors-list .podium {
  display: block;
  position: relative;
  float: left;
  height: 100%;
  width: 320px;
}

#page #contributors-list .podium .top {
  display: block;
  position: relative;
  float: left;
}

#page #contributors-list .podium .base {
  display: block;
  position: relative;
  float: left;
  background-color: rgba(214, 214, 214, 0.38);
  width: 100%;
}

#page #contributors-list .podium .base p {
  text-align: left;
  color: #666;
  font-weight: normal; 
  font-size: 12px; 
  margin-left: 10px;
}

#page #contributors-list ul.contributors {
    list-style: none;
    margin: 0px;
    padding: 0px;
  }

  #page #contributors-list ul.contributors li {
    display: block;
    position: relative;
    margin: 0px;
    padding: 0px;
    top: 0px;
    left: 0px;
    float: left;
  }

 #page #contributors-list ul.contributors li div.contributor {
    display: block;
    position: relative;
    margin: 0px;
    padding: 0px;
    top: 0px;
    left: 0px;
 } 

 #page #contributors-list ul.contributors li div.contributor ul {
    list-style: none;
    margin: 0px;
    padding: 0px;

 } 

 #page #contributors-list ul.contributors li div.contributor ul li {
    display: block;
    position: absolute;
    margin: 0px;
    padding: 0px;
    top: 0px;
    left: 0px;
 }

 #page #contributors-list ul.contributors li div.contributor ul li.username {
    z-index: 2;
    height: 14px;
    border: none;
 }

 #page #contributors-list ul.contributors li div.contributor ul li.username p {
    display:block;
    position: absolute;
    margin: 0px;
    padding: 0px;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 14px;
    text-align: center;
    font-size: 10px;
    font-weight: normal;
    color:#333;
    line-height: 14px !important;
 }

 #page #contributors-list ul.contributors li div.contributor ul li.username p a {
    color:#333;
    text-decoration: none;
 }

 #page #contributors-list ul.contributors li div.contributor ul li.username p a:hover {
    color:#334231;
 }

 #page #contributors-list ul.contributors li div.contributor ul li.pic {
    z-index: 1;
 }

 #page #contributors-list ul.contributors li div.contributor ul li.pic a {
    display:block;
    position: absolute;
    margin: 0px;
    padding: 0px;
    top: 0px;
    left: 0px;
    width: 100%;
    border: none;
 }

 #page #contributors-list ul.contributors li div.contributor ul li.pic p {
    display: block;
    position: absolute;
    margin: 0px;
    padding: 0px;
    top: 0px;
    left: 0px;
    width: 100%;
 }

 #page #contributors-list ul.contributors li div.contributor ul li.contributions {
    z-index: 3;
    pointer-events:none;
 }

 #page #contributors-list ul.contributors li div.contributor ul li.contributions p {
    display:block;
    position: absolute;
    left:0px;
    width:100%;
    height: 15%;
    top: 85%;
    text-align: center;
    line-height: 14px !important;
    font-size: 10px;
    font-weight: normal;
    color:#333;
    margin:0px;
    padding:0px;
    }*/

#icon{
  width:16vh;
  height:16vh;
  border-radius: 2vh;
  /*border: 1px solid;
  border-color: white;*/
  margin: 10px;
  padding: 1vh;
  text-align: center;
  overflow: hidden;
  background-color: rgba(255, 255, 255, 0.23);
  color:black;
  text-decoration: none;
}

#icon:hover{
  background-color: rgba(255, 255, 255, 0.56)
}

body{
  background: #527CFF; /* Old browsers */
  background: -moz-linear-gradient(top,  #527CFF 0%, #C0FFFA 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#527CFF), color-stop(100%,#C0FFFA)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #527CFF 0%,#C0FFFA 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #527CFF 0%,#C0FFFA 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #527CFF 0%,#C0FFFA 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #527CFF 0%,#C0FFFA 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#527CFF', endColorstr='#C0FFFA',GradientType=0 ); /* IE6-9 */

  background-repeat:no-repeat;
  background-attachment:fixed;
}

#url-text{
  color:inherit;
  font-size: 2vh;
  /*max-width: 168px;*/
  word-wrap: break-word;
  /*display: inline-block;*/
  margin-top: 1vh;
  width: 14vh;
  max-height: 5vh;
  text-align:center; 
  vertical-align: middle;
  overflow: hidden;

}

body{
  height:100vh
}

#search-box{
  width:100%;
  margin-top: 100px;
  margin-bottom : 40px;
  font-size: 20px;
}

#icon-img{
  height: 5vh;
  width: 5vh;
  margin: auto;
  margin-top: 1.6vh;
  margin-bottom: 0.8vh;
  display:block;
}

#mostVisited_div{
  margin-left: 10px;
}

#my-search-box{
  margin-top: 100px;
  margin-bottom: 20px;
}

.remove-app-icon{
  position: absolute !important;
  right: 1vh !important;
  top: 1vh !important;
  color: inherit;
}



.remove-icon-wrapper{
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  color: transparent;
}

.remove-icon-wrapper:hover{
  color: gray;
}

#footer{
  position: fixed;
  bottom: 0;
  right: 0;
  height: 10mm;
  /*width: 25mm;*/
  background-color: rgba(155, 155, 155, 0.45);
  border-top-left-radius: 5mm;
}

#add-app-icon, #reload-icon{
  border: solid;
  border-radius: 2mm;
  border-width: 1px;
  font-size: 5mm;
  margin-top: 1mm; 
  margin-left: 1mm;
  padding: 1mm;
  padding-bottom: 1.5mm;
  text-decoration: none;
}

#add-app-icon{
  margin-left: 5mm;
}

#reload-icon{
  margin-right: 2mm;
}